{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}

<h1>Добро пожаловать на наш уникальный сайт {{caption}}!, созданный для всех, кто обожает кошек и увлекается разработкой на Django!</h1>

<p>Здесь вы найдете сообщество единомышленников, где можно делиться фотографиями своих пушистых друзей, обсуждать их повадки и получать советы по уходу.</p>

<p>Мы также предлагаем интересные статьи и новости о кошках, от научных исследований до забавных историй и мемов.</p>

<p>Для разработчиков на Django у нас есть специальный раздел, где можно обмениваться опытом, находить подсказки и решать технические задачи вместе.</p>

<p>Мы регулярно публикуем учебные материалы и руководства по Django, которые помогут вам освоить новые навыки и улучшить ваши проекты.</p>

<p>Присоединяйтесь к нашим вебинарам и мастер-классам, где мы обсуждаем как кошачьи темы, так и тонкости программирования на Django.</p>

<p>Не забывайте заглядывать на наш форум, чтобы задать вопросы, поделиться своими проектами и найти новых друзей среди любителей кошек и разработчиков.</p>

<p>Наша цель — создать теплую и вдохновляющую атмосферу для всех, кто любит кодить и кошек.</p>

<p>Следите за нашими обновлениями, чтобы не пропустить анонсы новых функций и мероприятий.</p>

<p>Спасибо, что выбрали наш сайт! Надеемся, вы найдете здесь много полезного и интересного.</p>

{% endblock %}